/* src/components/NewModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  /* 지도의 왼쪽에 모달이 위치하도록 폭을 지정 */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 모달 배경 반투명 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.close-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}